<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.north_chicago"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Hack the north</name>

    <description>
        hack the north demo 2014
    </description>

    <author href="https://github.com/spencermountain" email="spencerkelly86@gmail.com">
        spencer kelly
    </author>
    <preference name="Orientation" value="landscape" />
    <content src="index.html" />
    <access origin="*" />
    <preference name="KeepRunning" value="true"/>
</widget>